.box {
    padding: 30px;
}

.section {
    margin-bottom: 50px;
}

.section-paper {
    background: #fff;
    padding: 30px;
}

.separated {
    > * + * {
        margin-top: 20px;
    }
}

.sticky-title {
    background: #fff;
}
